    .hidden-sidebar {
    padding-right:66px;
    padding-left:31px;
    flex-direction: column;
    padding-top: 28px;
    display: none;
  }
  .hidden-sidebar-menu-item {
    display: flex;
    font-family: 'Mulish', sans-serif;
    color: rgba(137, 137, 137, 1);
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
  .hidden-sidebar-menu-item:nth-child(1){
    color: rgba(137, 137, 137, 1);
  }
  .hidden-sidebar-menu-item:nth-child(1) img{
    color: rgba(137, 137, 137, 1);
  }
  .hidden-sidebar-menu-item:nth-child(-n+4) {
    padding-bottom: 28px;
  }
  .hidden-sidebar-menu-item:nth-child(3) {
    padding-bottom: 60px;
  }
  .hidden-sidebar-menu-item:nth-child(1) img{
    padding-right: 13.5px;
    margin-left: 1px;
    margin-bottom: 0.5px;
  }
  .hidden-sidebar-menu-item:nth-child(2) img {
    padding-right: 15px;
    margin-left: 2.5px;
  }
  .hidden-sidebar-menu-item:nth-child(3) img {
    padding-right: 14.19px;
    margin-left: 2.5px;
  }
  .hidden-sidebar-menu-item:nth-child(4) img {
    padding-right: 12px;
    margin-left: 2px;
  }
  .hidden-sidebar-menu-item:nth-child(1) figcaption,
  .hidden-sidebar-menu-item:nth-child(2) figcaption,
  .hidden-sidebar-menu-item:nth-child(3) figcaption{
    margin-top: 0.5px;
  }
  
  @media screen and (max-width:480px) {
    .hidden-sidebar {
      display: flex;
      left: 0px;
      bottom: 0px;
      width: 100%;
      position: fixed;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      border-top: 1px solid rgba(241, 241, 241, 1);
      overflow: hidden;
      flex-direction: row;
      background-color: rgba(255, 255, 255, 1);
      z-index: 4;

    }
    .hidden-sidebar-menu {
      background-color: rgba(255, 255, 255, 1);
      width: 100%;
      box-sizing: border-box;
      padding-left: 24px;
      padding-right: 22px;
      padding-top: 5px;
      padding-bottom: 11px;
    }
    .hidden-sidebar-menu-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .hidden-sidebar-menu-item:nth-child(n+5), .sidebar-settings {
      display: none;
    }
    .hidden-sidebar-menu-item:nth-child(2){
      padding-left:11px;
    }
    .hidden-sidebar-menu-item {
      flex-direction: column;
      font-size: 10px;
      line-height: 12.55px;
      align-items: center;
      justify-content: space-between;
    }
    .hidden-sidebar-menu-item:nth-child(1) img {
      width: 20px;
      height: 19px;
    }
    .hidden-sidebar-menu-item:nth-child(2) img {
      width: 16px;
      height: 20.53px;
    }
    .hidden-sidebar-menu-item:nth-child(3) img {
      width: 17.81px;
      height: 18px;
    }
    .hidden-sidebar-menu-item:nth-child(4) img {
      width: 20px;
      height: 16px;
    }
    .hidden-sidebar-menu-item:nth-child(-n+11) {
      padding-bottom: 0px;
    }
    .hidden-sidebar-menu-item:nth-child(-n+5) img{
      margin-top: 6px;
      padding-bottom: 5px;
      padding-right: 0px;
    }
    .hidden-sidebar-menu-item:nth-child(3) img{
      margin-top: 8px;
      padding-bottom: 5px;
      padding-right: 0px;
    }
    .hidden-sidebar-menu-item:nth-child(3) figcaption{
      margin-left: 2px;
    }
    .hidden-sidebar-menu-item:nth-child(4) img{
      margin-top: 8px;
      padding-bottom: 5px;
      padding-right: 0px;
    }
  }